///*------------------------------------*\
//    #CORE/HTML - TYPOGRAPHY
//\*------------------------------------*/

em {
  font-style: normal;
}

strong {
  font-weight: 700;
}

p {
  @include font-size(16, 20);
  color: $grey--light;
  font-family: $sans;
  font-weight: 400;
}