.music {
  background: $black;
  padding: 45px 0;
  position: relative;
  @include breakpoint($tablet){
    padding: 70px 0;
  }
  h2 {
    display: inline-block;
    color: $white;
    margin-bottom: $spacing-unit--l;
    width: 100%;
    @include breakpoint($tablet){
      margin-bottom: $spacing-unit--xl;
    }
    span {
      color: $white;
    }
  }

  h4 {
    @include font-size(20,20);
    color: $white;
    margin-top: 0;
    margin-bottom: $spacing-unit;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  #now-playing {
    flex-basis: 100%;
    max-width: 100%;
    position: relative;
    margin-top: $spacing-unit;
    @include breakpoint($desktop){
      flex-basis: 40%;
      max-width: 40%;
    }
    @include breakpoint($medium-desktop){
      flex-basis: 30%;
      max-width: 30%;
      margin-top: 0;
    }

    .inner-container {
      min-height: 200px;
      position: relative;
    }

    .spinner {
      left: 0;
      position: absolute;
      top: 120px;
    }
    span.time {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
      position: absolute;
      right: 0;
      top: 2px;
    }
    .date {
      @include font-size(0,0);
      background: $green--neon;
      box-sizing: border-box;
      color: $black;
      padding: 14px 0;
      text-align: center;
      width: 40px;
      height: 40px;
      .month {
        @include font-size(13,13);
        display: inline-block;
        font-weight: 600;
        &:after {
          content: "/";
          padding: 0;
        }
      }
      .day {
        @include font-size(13,13);
      }
    }
    .container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      .meta {
        flex-basis: 60px;
        max-width: 60px;
      }
      .content {
        flex-basis: 80%;
        max-width: 80%;
      }
      p {
        @include font-size(14,14);
        margin-bottom: 0;
        padding-right: $spacing-unit--xl;
        strong {
          @include font-size(16,16);
          display: block;
          margin-bottom: $spacing-unit--xs;
        }
      }
      #bars {
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
      }
    }
    .music-artist {
      border-top: 1px solid rgba($white, 0.2);
      color: $green--neon;
      text-align: left;
      padding: 1rem;
      margin-bottom: 0;
      &:nth-of-type(1) {
        border-top: 0;
        opacity: 1;
      }
      &:nth-of-type(2) {
        opacity: 0.8;
      }
      &:nth-of-type(3) {
        opacity: 0.75;
      }
      &:nth-of-type(4) {
        opacity: 0.7;
      }
      &:nth-of-type(5) {
        opacity: 0.65;
      }
      &:nth-of-type(6) {
        opacity: 0.6;
      }
      &:nth-of-type(7) {
        opacity: 0.55;
      }
      &:nth-of-type(8) {
        opacity: 0.5;
      }
      p {
        color: $white;
        margin-top: 0;
      }
    }
  }
  #music-artists{
    display: inline-block;
    vertical-align: middle;
    flex-basis: 100%;
    max-width: 100%;
    @include breakpoint($desktop){
      flex-basis: 60%;
      max-width: 60%;
    }
    @include breakpoint($medium-desktop){
      flex-basis: 70%;
      max-width: 70%;
    }
    .inner-container {
      display: flex;
      flex-wrap: wrap;
    }
    .music-artist {
      background: $white;
      display: inline-block;
      padding: 0;
      position: relative;
      margin: 1%;
      text-align: center;
      vertical-align: top;
      flex-basis: 48%;
      max-width: 48%;
      @include breakpoint($tablet){
        flex-basis: 30%;
        max-width: 30%;
      }
      img {
        filter: grayscale(100%);
      }
      .name {
        @include font-size(16,20);
        background: rgba($black,0.7);
        bottom: 0;
        color: $white;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }
  .container--content{
    display: inline-block;
    width: 100%;
    text-align: center;
    @include breakpoint($desktop){
      text-align: left;
      // width: 30%;
    }
    iframe{
      background: $white;
      border-radius: 0px;
      height: 80px;
      margin-right: 0;
      max-width: 100%;
      padding: 10px;
      @include breakpoint($desktop){
        margin-right: -110px;
      }
    }
    h4{
      @include font-size(20,25);
      color: $white;
      display: block;
      margin: 20px auto;
      max-width: 300px;
      @include breakpoint($desktop){
        margin: 20px 0 0;
      }
      span{
        color: #2EBD59;
      }
    }
  }
}