.music {
  background: #fff;
  padding: 20px 0 40px;
  position: relative;
  text-align: center;
  @include breakpoint($tablet){
    padding: 50px 0 70px;
  }
  h2 {
    display: inline-block;
    color: $black;
    margin-bottom: $spacing-unit--l;
    width: 100%;
    @include breakpoint($tablet){
      margin-bottom: $spacing-unit--xl;
    }
    span {
      color: $black;
    }
  }

  h4 {
    margin-top: 0;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  #now-playing {
    position: relative;
    margin-top: $spacing-unit;
    width: 100%;
    @include breakpoint($desktop){
      margin-top: 0;
    }

    .inner-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        min-height: 200px;
        position: relative;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .spinner {
      left: 0;
      position: absolute;
      top: 120px;
    }
    span.time {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
      position: absolute;
      right: 0;
      top: 2px;
    }
    .date {
      @include font-size(0,0);
      box-sizing: border-box;
      color: $black;
      padding: 4px 0;
      text-align: center;
      width: 30px;
      height: 20px;
      .month {
        @include font-size(13,13);
        display: inline-block;
        font-weight: 600;
        &:after {
          content: "/";
          padding: 0;
        }
      }
      .day {
        @include font-size(13,13);
        font-weight: 600;
      }
    }
    .container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      .meta {
        bottom: 0;
        flex-basis: 60px;
        max-width: 60px;
        position: absolute;
        right: 0;
      }
      .content {
        flex-basis: 86%;
        max-width: 86%;
      }
      p {
        @include font-size(14,14);
        margin-bottom: 0;
        padding-right: $spacing-unit--l;
        strong {
          @include font-size(15,15);
          display: block;
          margin-bottom: $spacing-unit--xs;
        }
      }
      #bars {
        bottom: -5px;
        left: 0;
        margin: 0;
        position: relative;
      }
    }
    .music-artist {
      background: #fff;
      border:1px solid #dedede;
      border-left: 3px solid #45e687;
      color: $black;
      flex-basis: 100%;
      margin: 0;
      margin-bottom: 0;
      max-width: 100%;
      padding: 1rem;
      text-align: left;
      @include breakpoint($medium-desktop) {
        margin: 5px;
        flex-basis: 48%;
        max-width: 48%;
      }
      @include breakpoint($desktop) {
        margin: 5px;
        flex-basis: 31%;
        max-width: 31%;
      }
      p {
        color: $black;
        margin-top: 0;
      }
    }
  }
  #music-artists{
    display: inline-block;
    vertical-align: middle;
    flex-basis: 100%;
    max-width: 100%;
    @include breakpoint($desktop){
      flex-basis: 60%;
      max-width: 60%;
    }
    @include breakpoint($medium-desktop){
      flex-basis: 70%;
      max-width: 70%;
    }
    .inner-container {
      display: flex;
      flex-wrap: wrap;
    }
    .music-artist {
      background: $white;
      display: inline-block;
      padding: 0;
      position: relative;
      margin: 1%;
      text-align: center;
      vertical-align: top;
      flex-basis: 48%;
      max-width: 48%;
      @include breakpoint($tablet){
        flex-basis: 30%;
        max-width: 30%;
      }
      img {
        filter: grayscale(100%);
      }
      .name {
        @include font-size(16,20);
        background: rgba($black,0.7);
        bottom: 0;
        color: $black;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }
  .container--content{
    display: inline-block;
    width: 100%;
    text-align: center;
    @include breakpoint($desktop){
      text-align: left;
      // width: 30%;
    }
    iframe{
      background: $white;
      border-radius: 0px;
      height: 80px;
      margin-right: 0;
      max-width: 100%;
      padding: 10px;
      @include breakpoint($desktop){
        margin-right: -110px;
      }
    }
    h4{
      @include font-size(20,25);
      color: $black;
      display: block;
      margin: 20px auto;
      max-width: 300px;
      @include breakpoint($desktop){
        margin: 20px 0 0;
      }
      span{
        color: #2EBD59;
      }
    }
  }
}