<div class="hero">
  <div class="hero--background" data-module="movingBG" style="background-image: url({{background_image}})"></div>
  <div class="wrapper">
    <div class="container--content">
      <div class="inner-container">
        <h1>{{header}}</h1>
        <h4>{{description}}</h4>
      </div>
    </div>
  </div>
</div>