.global-footer {
  position: relative;
  text-align: center;
  .copyright {
    color: $white;
    font-family: $rockSalt;
    font-size: 18px;
    font-weight: 700;
    left: 50%;
    letter-spacing: 4px;
    padding: 10px;
    position: absolute;
    text-shadow: 1px 1px;
    text-transform: uppercase;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  img {
    display: inline-block;
    width: 500px;
    max-width: 100%;
  }
}
